@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu-Medium";
  src: local("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: local("./assets/fonts/Ubuntu-Regular.ttf");
}

/* - Mobile: 375px
- Desktop: 1440px */

@media (375px <= width <= 1440px) {
  .mobile {
    background: url("./images/bg-sidebar-mobile.svg") no-repeat
      hsl(217, 100%, 97%);
    background-size: contain;
  }
}

@media (width >= 1440px) {
  .desktop {
    background: url("./images/bg-sidebar-desktop.svg") no-repeat;
    background-size: contain;
  }
}
